#homeContent
  .row
    .span12

      = render 'shared/cta-bar'

      #featureImages.bottom-10
        .row
          .span2
            = image_tag "/assets/legos-140.jpg"
          .span10
            %h3 Easy as 1-2-3
            %p 
            %h4 Setup Your Site. Check For Alerts. Report Online.
        .row
          .span2
            = image_tag "/assets/alerts-140.jpg"
          .span10
            %h3 Instant Alerts
            %h4 Email Notifications Keep You Informed.
        .row
          .span2
            = image_tag "/assets/data-140.jpg"
          .span10
            %h3 NOAA Weather Data
            %h4 Be Prepared Before Each Rain Event.

      = render 'shared/cta-bar'
